<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" application-parameters="-i &quot;C:\Users\autod\Desktop&quot; --allow-versions" path-to-js-file="index.js" working-dir="$PROJECT_DIR$">
    <method v="2" />
  </configuration>
</component>